@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --primary: #557174;
    --secondary: #9DAD7F;
    --tertiary: #c1d49d;
    --dark-grey: #333;
}

body {
  margin: 0;
  font-family: 'Raleway', 'Roboto', 'Oxygen', 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
    /* text-align: center; */
    max-width: 1200px;
    margin: auto;
    color: var(--primary)
  }

header h1{
    color: var(--primary);
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: bold;
}

header{
    padding: 10px 0;
    border-bottom: var(--primary) 1px solid;
    margin-bottom:50px ;
}
form{
    margin: auto;
    text-align: center;
}
.container-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cat, .level, .number-questions{
    min-width: 250px;
    margin-bottom: 50px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cat{
    height: 250px;
}

.active{
    background-color: var(--tertiary);
}
button{
    min-width: 80%;
    padding: 20px;
    margin: 50px;
    border-radius: 1rem;
    border: none;
    /* border-color: var(--secondary); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: var(--tertiary);
    color: var(--primary);
    font-size: 1.25rem;
    font-weight: bold;
}

button:hover{
    opacity: 80%;
}